/* ANCHOR Main settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

/* ANCHOR Custom properties */
body {
  --color-bg-lightgrey: #d3dce1;
  --color-bg-darkgrey: #eef2f2;
  --color-white: #fbfcfc;
  /* */
  --color-darkblue: #054067;
  --color-red: #cc3600;
  --color-black: #180e14;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--color-bg-lightgrey);
}
header,
main,
footer {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
